<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Model Viewer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include("../includes/Navbar.ejs")%>
    <div class="min-h-screen w-full flex flex-col md:flex-row justify-start bg-gradient-to-br from-[#4a0072] via-[#6a00f4] to-[#9b4dff] p-[4%] gap-[30px] overflow-x-hidden">
        <div class="w-full md:w-[65vw] aspect-video mb-8 md:mb-0">
            <iframe class="w-full h-[60vh] rounded-[30px] shadow-2xl transform hover:shadow-2xl transition-all duration-100 ease-in-out backdrop-blur-sm bg-white/10" title="3D Model Viewer"
                src="<%= link %>" frameborder="0" allow="autoplay; fullscreen; vr" allowfullscreen></iframe>
        </div>
        <div id="box" class="w-full md:w-[30vw] text-white">
            
        </div>
    </div>

<script>
   document.getElementById("box").innerHTML = `<%- info %>`;
</script>
</body>

</html>