<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Model Viewer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-[100vh] w-full rounded-[15px]">
        <iframe 
          class="h-[100%] w-[100%]"
          title="3D Model Viewer"
          width="640" 
          height="480" 
          src="<%= link %>"
          frameborder="0" 
          allow="autoplay; fullscreen; vr" 
          allowfullscreen
        ></iframe>
    </div>
</body>
</html>
