<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Model Viewer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include("../includes/Navbar.ejs")%>
        <div class="h-[200vh] w-full flex justify-start bg-[#6a00f4] bg-opacity-70 p-[1%] gap-[20px] overflow-hidden">
            <iframe class="h-[40%] w-[65%] rounded-[10px] shadow-lg" title="3D Model Viewer" width="640" height="480"
                src="<%= link %>" frameborder="0" allow="autoplay; fullscreen; vr" allowfullscreen></iframe>
              <div id="box">

              </div>
               
        </div>

<script>
    document.getElementById("box").textContent = `${<%- info.replace(/`/g, '&#x60;') %>}`;
</script>
</body>

</html>