<nav
  class="bg-gradient-to-r from-indigo-600 to-purple-600 text-white shadow-lg"
>
  <div class="container mx-auto px-6 py-3 flex justify-between items-center">
    <h1
      class="text-3xl font-extrabold tracking-tight cursor-pointer hover:text-pink-200 transition duration-300"
      onclick="window.location.href='/'"
    >
      <i class="fas fa-graduation-cap mr-2"></i>Pre-College
    </h1>
    <div class="flex items-center space-x-8">
      <a
        href="/classroom"
        class="text-xl font-medium hover:text-pink-200 transition duration-300"
      >
        <i class="fas fa-chalkboard-teacher mr-2"></i>Classroom
      </a>
      <a
        href="/roadmap"
        class="text-xl font-medium hover:text-pink-200 transition duration-300"
      >
        <i class="fas fa-map-marked-alt mr-2"></i>Pro Roadmap
      </a>
      <div class="relative group">
        <img
          src="../assets/user.png"
          class="h-12 nav-img w-12 rounded-full border-2 border-pink-300 cursor-pointer transform transition-all duration-300 group-hover:scale-110"
          alt="User Avatar"
          onclick="window.location.href='/dashBoard'"
        />
      </div>
    </div>
  </div>
</nav>
<script>
    function redirectClassroom() {
        window.location.href="/classroom"
    }
    function redirectRoadmapgen(){
      window.location.href="/roadmap"
    }
</script>