<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      h1 {
        text-transform: uppercase;
      }

      .montserrat {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body class="montserrat">
 <div id="main" class="w-full h-[100vh] bg-black " >
    <nav
    class="h-[10vh] w-full bg-black text-white flex justify-between px-10 items-center"
  >
  <h1 class="upppercase text-3xl cursor-pointer" onclick="window.location.href='/'" >Pre-College</h1>
    <div class="flex justify-center gap-20 items-center">
      <div class="flex gap-10">
        <h1 class="text-xl cursor-pointer" onclick="redirectClassroom()" >Classroom</h1>
        <h1 class="text-xl cursor-pointer" onclick="redirectRoadmapgen()" >Pro Roadmap</h1>
      </div>
      <div class="rounded-full h-10 overflow-hidden w-10 bg-white" onclick="goToSignIn()" >
        <img
          src="../assets/user.png"
          class="h-full w-full filter-0 cursor-pointer"
          alt=""
        />
      </div>
    </div>
  </nav>

 </div>
    <script>
        function redirectClassroom() {
            window.location.href="/classroom"
        }
        function redirectRoadmapgen(){
          window.location.href="/roadmap"
        }
        function goToSignIn() {
          window.location.href = '/signIn'
        }
    </script>
  </body>
</html>
