<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIn</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      h1 {
        text-transform: uppercase;
      }
      .montserrat {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body class="montserrat">
    <div id="main" class="w-full h-[100vh] bg-black">
      <%- include("./includes/Navbar.ejs")%>
      <div class="w-full h-[80vh] flex items-center justify-center">
        <div class="p-10 rounded-md bg-white ">
          <h1 class="text-center font-bold text-4xl">Login</h1>
          <div class="form flex flex-col gap-10 mt-4">
            <input
              type="email"
              class="text-black rounded-md px-20 py-2"
              id="email"
              required
              placeholder="Enter Your Email"
            />
          
            <input
              type="password"
              class="text-black rounded-md px-20 py-2"
              id="password"
              required
              placeholder="Enter Your Password"
            />
            <button class="bg-red-200 px-4 py-2 rounded-md">login</button>
            <div class="w-full flex justify-center " >
                <h1 class="w-full text-center " >Don't have an account?</h1>
                <h1 class="text-blue-400 underline " onclick="window.location.href='/signUp' " >Regsiter</h1>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function redirectClassroom() {
        window.location.href = "/classroom";
      }
      function redirectRoadmapgen() {
        window.location.href = "/roadmap";
      }
    </script>
    <script type="module" src="../js/login.js" ></script>
    
  </body>
</html>
