<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      h1 {
        text-transform: uppercase;
      }

      .montserrat {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body class="montserrat">
 <div id="main" class="w-full h-16 bg-black " >
  <%- include("./includes/Navbar.ejs")%>
 </div>
 <div>
    <h1 class="text-4xl px-5 py-3 text-center">Enter a skill you want to learn</h1>
    <form method="POST" action="/roadmap" class="flex justify-center gap-5 my-1 py-1 mx-3 px-2">
        <input type="text" name="prompt" required class="border border-black w-60 md:w-96">
        <input type="submit" value="Generate Roadmap" class="border border-black rounded-sm px-2 py-1 cursor-pointer">
    </form>
 </div>
    <script>
        function redirectClassroom() {
            window.location.href="/classroom"
        }
        function redirectRoadmapgen(){
          window.location.href="/roadmap"
        }
    </script>
  </body>
</html>
