<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      h1 {
        text-transform: uppercase;
      }

      .montserrat {
        font-family: "Montserrat", sans-serif;
      }
      body::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="montserrat">
    <div id="main" class="w-full h-[100vh] bg-black">
      <nav
        class="h-[10vh] w-full bg-violet-400 text-white flex justify-between px-10 items-center"
      >
        <h1
          class="uppercase text-xl cursor-pointer"
          onclick="window.location.href='/'"
        >
          Pre-College
        </h1>
        <div class="flex justify-center gap-20 items-center">
          <div class="flex gap-10">
            <h1
              class="text-md cursor-pointer"
              onclick="window.location.href=`/classroom`"
            >
              Classroom
            </h1>
            <h1 class="text-md cursor-pointer">Pro Roadmap</h1>
          </div>
          <div class="rounded-full h-5 overflow-hidden w-5 bg-white">
            <img
              width="12"
              height="12"
              class="h-full w-full filter-0 cursor-pointer"
              src="https://img.icons8.com/material-rounded/24/user.png"
              alt="user"
            />
          </div>
        </div>
      </nav>
      <div class="hero h-[90vh] w-full text-white flex-col flex items-center">
        <div
          class="flex gap-5 mt-10 flex-wrap items-center flex-col justify-end h-full w-full"
        >
          <div class="flex justify-around gap-20 mb-10">
            <div
              id="animalCell"
              class="bg-orange-500 hover:scale-95 rounded-md h-[10vh] w-[10vw] font-bold text-white text-center justify-center items-center flex cursor-pointer"
            >
              Animal Cell
            </div>
            <div
              id="eukaryoticCell"
              class="bg-orange-500 hover:scale-95 rounded-md h-[10vh] w-[10vw] font-bold text-white text-center justify-center items-center flex cursor-pointer"
            >
              Eukaryotic Cell
            </div>
            <div
              id="neuron"
              class="bg-orange-500 hover:scale-95 rounded-md h-[10vh] w-[10vw] font-bold text-white text-center justify-center items-center flex cursor-pointer"
            >
              Structure of Neuron
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById('animalCell').addEventListener('click', function() {
        window.location.href = '/classroom/subject/botony/celltheory/animalCell';
      });

      document.getElementById('eukaryoticCell').addEventListener('click', function() {
        window.location.href = '/classroom/subject/botony/celltheory/eeukCell';
      });

      document.getElementById('neuron').addEventListener('click', function() {
        window.location.href = '/classroom/subject/botony/celltheory/neuron';
      });
    </script>
  </body>
</html>
