<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<body>
    <div class="h-[100vh] w-full rounded-[15px]">
    <iframe 
    class="h-[100%] w-[100%]"
    title="Plastic Love - Mariya Takeuchi" 
    width="640" 
    height="480" 
    src="<%= modelData.link%>";
    frameborder="0" 
    allow="autoplay; fullscreen; vr" 
    allowfullscreen>
   </div>
</iframe>
</body>
</html>