<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classroom Subjects</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      h1 {
        text-transform: uppercase;
      }

      .montserrat {
        font-family: "Montserrat", sans-serif;
      }
      </style>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black montserrat text-black">
  <%- include("../includes/Navbar.ejs") %>
  <div class="container mx-auto mt-10">
    <h1 class="text-white font-bold text-5xl text-center mb-10 " >Personal AR/VR</h1>
    <div class="flex flex-wrap justify-center mt-10">
      <% subjects.forEach(subject => { %>
        <div class="bg-blue-200 h-[30vh] w-[20vw] flex items-center justify-center text-center text-4xl m-4 cursor-pointer" onclick="redirect('<%= subject %>')">
          <h1 class="text-xl" >
            <%= subject %>
          </h1>
        </div>
      <% }) %>
    </div>
  </div>

  <script>
    function redirect(subject) {
      window.location.href = `/classroom/subject/${encodeURIComponent(subject)}`;
    }
  </script>
</body>
</html>
